<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:61616" />
	</bean>

	<bean id="firstDest" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="springFirstQueue" />
	</bean>
	<bean id="secondDest" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="springSecondQueue" />
	</bean>


	<!-- The message listener -->
	<bean id="consumerListener" class="eu.giuseppeurso.activemq.springbasic.Consumer" />
	<!-- Spring DMLC -->
	<bean id="firstConsumer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="destination" ref="firstDest" />
		<property name="messageListener" ref="consumerListener" />
	</bean>
	<!-- Spring DMLC -->
	<bean id="secondConsumer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="destination" ref="secondDest" />
		<property name="messageListener" ref="consumerListener" />
	</bean>

	<!-- Spring JMS Template -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
	</bean>
	<bean id="producer" class="eu.giuseppeurso.activemq.springbasic.Producer">
		<property name="template" ref="jmsTemplate" />
		<property name="destinations">
			<list>
				<ref local="firstDest" />
				<ref local="secondDest" />
			</list>
		</property>
	</bean>

</beans>