<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
        <param value="System.err" name="Target"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p - %m%n" name="conversionPattern"/>
        </layout>
    </appender>
    <logger name="eu.giuseppeurso.activemq.restproducer">
        <level value="debug"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
</log4j:configuration>